h2 {
    padding: 9% 0 3% 0; 
    margin: 0;
    text-align: center;
    font-size: 2rem;
}
.container {
    margin: 2% 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Flex vs Block Styles */
.flexBlock__section,
.justifyContent__section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2% 0;
    flex-wrap: wrap;
}
.flexBlock {
    width: 25%;
    height: 40vh;
    background: blueviolet;
    border-radius: 30px;
    margin: 1%;
}
.flexBlock h3,
.justifyContent h3 {
    text-align: center;
    font-weight: lighter;
}
.flexBlock .cards,
.justifyContent .cards {
    width: 70px;
    height: 70px;
    background: black;
    margin: 1%;
    padding: 4px;
    text-align: center;
    border-radius: 15px;
}
.flex {
    display: flex;
}
.flexCenter {
    justify-content: center;
}
.block {
    position: relative;
    left: 42%;
}


/* Justify Content Styles */
.justifyContent {
    width: 25%;
    height: 20vh;
    background: blueviolet;
    border-radius: 30px;
    margin: 1%;
    padding: 1%;
}
.justifyContent h3 {
    font-size: 1rem;
}
.justifyContent p {
    text-align: center;
    margin: 4% 2%;
}
.JC-center {
    justify-content: center;
}
.JC-around {
    justify-content: space-around;
}
.JC-evenly {
    justify-content: space-evenly;
}
.JC-between {
    justify-content: space-between;
}
.JC-end {
    justify-content: flex-end;
}

@media (max-width: 1380px) {
    .block {
        left: 41%
    }
}